<div class="jumbotron center">
	<h1>Welcome to Nerdy!</h1>
	Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary" %>
</div> 
<h1>Find your Exercises</h1>
<p>Search <%= link_to "here", "#" %>.</p>
